# Notebook error analysis 

## Manual labels of the sampled errors

## Chi-square test

An often quoted guideline for the validity of this calculation is that the test should be used only if the observed and expected frequencies in each cell are at least 5.

    p-value<0.05 -> reject the null hypothesis (there s no difference between the two distributions)-> the two dist are statistically different
    p-value>0.05 -> cannot reject the null, not different

[scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html)

[Chi-squared_test](https://en.wikipedia.org/wiki/Chi-squared_test)

[color map](https://matplotlib.org/stable/users/explain/colors/colormaps.html)

In [17]:
# import importlib
# importlib.reload(visualization_util)
# import visualization_util

In [2]:
import pandas as pd
import config
import visualization_util
from IPython.display import display

# summed config
# config
df_mlerr_label_config_sum = pd.read_excel(config.path_default.joinpath('data_dedup_cluster/df_err_processed_pregroup_sampled4_config_sum.xlsx'),
                                keep_default_na=False)
# data
df_mlerr_labels_g_sum = pd.read_excel(config.path_default.joinpath('data_dedup_cluster/df_err_processed_pregroup_sampled4_g_sum.xlsx'))
df_mlerr_labels_k_sum = pd.read_excel(config.path_default.joinpath('data_dedup_cluster/df_err_processed_pregroup_sampled4_k_sum.xlsx'))

path_default=WindowsPath('C:/Users/yirwa29/Downloads/Dataset-Nb')

In [3]:
exclude_config = ["label_if_error_chain"] # because it is the same as root cause==nb specific-previous cell error
df_mlerr_label_config_sum.drop(exclude_config, axis=1, inplace=True)

In [4]:
exclude_other = ['should exclude']
exclude_ml_pipeline_sum = [] #'not applicable','unknown'
df_mlerr_labels_g_sum_exed = df_mlerr_labels_g_sum[(~df_mlerr_labels_g_sum.label_ML_pipeline.isin(exclude_ml_pipeline_sum))&(~df_mlerr_labels_g_sum.other.isin(exclude_other))]
df_mlerr_labels_k_sum_exed = df_mlerr_labels_k_sum[(~df_mlerr_labels_k_sum.label_ML_pipeline.isin(exclude_ml_pipeline_sum))&(~df_mlerr_labels_k_sum.other.isin(exclude_other))]

In [5]:
# before/after filtering
print(df_mlerr_labels_g_sum.eid.nunique(), df_mlerr_labels_g_sum_exed.eid.nunique())
print(df_mlerr_labels_k_sum.eid.nunique(), df_mlerr_labels_k_sum_exed.eid.nunique())

390 389
356 354

In [6]:
# # Summarize the statistics - df_mlerr_labels_sum
# # github stats
# cluster_res_g_sum = visualization_util.statistics_labels(df_mlerr_label_config_sum, df_mlerr_labels_g_sum)
# for label_key in df_mlerr_label_config_sum:
#     cluster_res_g_sum[label_key] = pd.DataFrame.from_dict(cluster_res_g_sum[label_key]).rename_axis('cluster_id').reset_index()
# # for all clusters    
# cluster_res_g_sum_weighted_sum = visualization_util.cal_weighted_sum(df_mlerr_label_config_sum, cluster_res_g_sum)

# # kaggle stats
# cluster_res_k_sum = visualization_util.statistics_labels(df_mlerr_label_config_sum, df_mlerr_labels_k_sum)
# for label_key in df_mlerr_label_config_sum:
#     cluster_res_k_sum[label_key] = pd.DataFrame.from_dict(cluster_res_k_sum[label_key]).rename_axis('cluster_id').reset_index()
# cluster_res_k_sum_weighted_sum = visualization_util.cal_weighted_sum(df_mlerr_label_config_sum, cluster_res_k_sum)

# for label_key in df_mlerr_label_config_sum:
#     visualization_util.chisquare_test(cluster_res_g_sum_weighted_sum[label_key], cluster_res_k_sum_weighted_sum[label_key], label_key)

In [7]:
# Summarize the statistics - df_mlerr_labels_sum_excluded
# github stats
cluster_res_g_sum_exed = visualization_util.statistics_labels(df_mlerr_label_config_sum, df_mlerr_labels_g_sum_exed)
for label_key in df_mlerr_label_config_sum:
    cluster_res_g_sum_exed[label_key] = pd.DataFrame.from_dict(cluster_res_g_sum_exed[label_key]).rename_axis('cluster_id').reset_index()
# for all clusters    
cluster_res_g_sum_exed_weighted_sum = visualization_util.cal_weighted_sum(df_mlerr_label_config_sum, cluster_res_g_sum_exed)

# kaggle stats
cluster_res_k_sum_exed = visualization_util.statistics_labels(df_mlerr_label_config_sum, df_mlerr_labels_k_sum_exed)
for label_key in df_mlerr_label_config_sum:
    cluster_res_k_sum_exed[label_key] = pd.DataFrame.from_dict(cluster_res_k_sum_exed[label_key]).rename_axis('cluster_id').reset_index()
cluster_res_k_sum_exed_weighted_sum = visualization_util.cal_weighted_sum(df_mlerr_label_config_sum, cluster_res_k_sum_exed)

for label_key in df_mlerr_label_config_sum:
    visualization_util.chisquare_test(cluster_res_g_sum_exed_weighted_sum[label_key], cluster_res_k_sum_exed_weighted_sum[label_key], label_key)

label_root_cause
Removed number of features due to few(<5) data points: 1 1
Chi2ContingencyResult: pvalue is  0.8903183509967174 (Not statistically different)

label_ML_pipeline
Removed number of features due to few(<5) data points: 0 0
Chi2ContingencyResult: pvalue is  0.2999021920694616 (Not statistically different)

label_if_ML_bug
Removed number of features due to few(<5) data points: 1 1
Chi2ContingencyResult: pvalue is  0.0006922742319700213 (Statistically different)

label_refined_exp_type
Removed number of features due to few(<5) data points: 4 4
Chi2ContingencyResult: pvalue is  0.9965437390911309 (Not statistically different)

label_if_runinfo_help
Removed number of features due to few(<5) data points: 0 0
Chi2ContingencyResult: pvalue is  0.031809886984527844 (Statistically different)

label_if_code_error_align
Removed number of features due to few(<5) data points: 1 1
Chi2ContingencyResult: pvalue is  0.7260226701460115 (Not statistically different)

other
Removed number of features due to few(<5) data points: 2 2
Chi2ContingencyResult: pvalue is  0.1940304050606835 (Not statistically different)

In [9]:
# exception types
# top 10 + other (remainings)

cluster_res_exp_type_sum_weighted_sum = {x: cluster_res_k_sum_exed_weighted_sum['label_refined_exp_type'].get(x, 0) + cluster_res_g_sum_exed_weighted_sum['label_refined_exp_type'].get(x, 0)
                                         for x in set(cluster_res_k_sum_exed_weighted_sum['label_refined_exp_type']).union(cluster_res_g_sum_exed_weighted_sum['label_refined_exp_type'])}
df_cluster_res_exp_type_sum = pd.DataFrame(cluster_res_exp_type_sum_weighted_sum, index=["Combined"]).T.sort_values(by="Combined", ascending=False)
include_num = 10
df_cluster_res_exp_type_other = pd.DataFrame(df_cluster_res_exp_type_sum[include_num:].sum(axis=0)).T.rename(index={0: "other"})
df_cluster_res_exp_type_sum = pd.concat([df_cluster_res_exp_type_sum[:include_num], df_cluster_res_exp_type_other])

df_cluster_res_exp_type_kg = pd.DataFrame([cluster_res_k_sum_exed_weighted_sum['label_refined_exp_type'],
                   cluster_res_g_sum_exed_weighted_sum['label_refined_exp_type']]).T.rename(columns={0: 'Kaggle', 1: 'GitHub'})
# df_cluster_res_exp_type_kg
df_cluster_res_exp_type_kg_other = pd.DataFrame(df_cluster_res_exp_type_kg[~df_cluster_res_exp_type_kg.index.isin(df_cluster_res_exp_type_sum.index[:include_num])].sum(axis=0)).T.rename(index={0: "other"})
df_cluster_res_exp_type_kg = pd.concat([df_cluster_res_exp_type_kg.loc[df_cluster_res_exp_type_sum.index[:include_num].to_list()], df_cluster_res_exp_type_kg_other])
df_cluster_res_exp_type_kg = pd.concat([df_cluster_res_exp_type_sum, df_cluster_res_exp_type_kg], axis=1)
# df_cluster_res_exp_type_kg.loc['total']= df_cluster_res_exp_type_kg.sum()

df_cluster_res_exp_type_kg.index.name = "Exception type"
df_cluster_res_exp_type_kg[["Combined","GitHub","Kaggle"]]

                Combined  GitHub  Kaggle
Exception type
name                 219     121      98
value                 88      44      44
type                  81      38      43
io                    70      32      38
API arg               68      40      28
attribute             52      29      23
key                   51      22      29
index                 26      14      12
resource              18       7      11
environment           17      10       7
other                 53      32      21

In [12]:
# calculate correlation between rc and exp
df_grouped_g = df_mlerr_labels_g_sum_exed.groupby("label_refined_exp_type")["label_root_cause"].value_counts().unstack("label_root_cause")
df_other_g = pd.DataFrame(df_grouped_g[~df_grouped_g.index.isin(df_cluster_res_exp_type_kg.index[:include_num])].sum(axis=0)).T.rename(index={0: "other"})
df_grouped_g = pd.concat([df_grouped_g.loc[df_cluster_res_exp_type_kg.index[:include_num].to_list()], df_other_g])
df_grouped_g.insert(6, "library", 0)
df_grouped_g = df_grouped_g.fillna(0)
display(df_grouped_g)

df_grouped_k = df_mlerr_labels_k_sum_exed.groupby("label_refined_exp_type")["label_root_cause"].value_counts().unstack("label_root_cause")
df_other_k = pd.DataFrame(df_grouped_k[~df_grouped_k.index.isin(df_cluster_res_exp_type_kg.index[:include_num])].sum(axis=0)).T.rename(index={0: "other"})
df_grouped_k = pd.concat([df_grouped_k.loc[df_cluster_res_exp_type_kg.index[:include_num].to_list()], df_other_k])
df_grouped_k = df_grouped_k.fillna(0)
display(df_grouped_k)

label_root_cause,API,NB specific,data,environment,implementation,intentional,library,resources,unknown
name,1.0,68.0,0.0,21.0,29.0,0.0,0,0.0,2.0
value,11.0,2.0,20.0,0.0,3.0,4.0,0,0.0,4.0
type,9.0,1.0,10.0,0.0,8.0,8.0,0,0.0,2.0
io,2.0,1.0,0.0,26.0,2.0,1.0,0,0.0,0.0
API arg,26.0,0.0,6.0,1.0,3.0,1.0,0,0.0,3.0
attribute,11.0,2.0,4.0,3.0,6.0,0.0,0,0.0,3.0
key,4.0,2.0,15.0,0.0,0.0,0.0,0,0.0,1.0
index,3.0,0.0,8.0,0.0,1.0,1.0,0,0.0,1.0
resource,0.0,0.0,0.0,0.0,0.0,0.0,0,7.0,0.0
environment,1.0,0.0,0.0,8.0,1.0,0.0,0,0.0,0.0
other,2.0,1.0,2.0,8.0,6.0,4.0,0,1.0,8.0

label_root_cause,API,NB specific,data,environment,implementation,intentional,library,resources,unknown
name,0.0,54.0,0.0,10.0,31.0,1.0,0.0,0.0,2.0
value,14.0,0.0,18.0,0.0,8.0,2.0,1.0,0.0,1.0
type,17.0,0.0,18.0,0.0,5.0,2.0,0.0,0.0,1.0
io,4.0,0.0,0.0,33.0,1.0,0.0,0.0,0.0,0.0
API arg,17.0,0.0,6.0,0.0,1.0,0.0,2.0,0.0,2.0
attribute,10.0,1.0,4.0,1.0,4.0,0.0,1.0,0.0,2.0
key,6.0,8.0,13.0,0.0,1.0,1.0,0.0,0.0,0.0
index,4.0,1.0,6.0,0.0,1.0,0.0,0.0,0.0,0.0
resource,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0
environment,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0
other,1.0,1.0,1.0,4.0,2.0,3.0,1.0,0.0,8.0

In [19]:
for id_exp in range(df_grouped_g.shape[0]):
    visualization_util.chisquare_test(df_grouped_g.iloc[id_exp], df_grouped_k.iloc[id_exp], df_grouped_k.index[id_exp], min_dp=5)

name
Removed number of features due to few(<5) data points: 6 6
Chi2ContingencyResult: pvalue is  0.20915388055270942 (Not statistically different)

value
Removed number of features due to few(<5) data points: 7 7
Chi2ContingencyResult: pvalue is  0.6796804862468319 (Not statistically different)

type
Removed number of features due to few(<5) data points: 6 6
Chi2ContingencyResult: pvalue is  0.2196660980055649 (Not statistically different)

io
Removed number of features due to few(<5) data points: 8 8
Chi2ContingencyResult: pvalue is  1.0 (Not statistically different)

API arg
Removed number of features due to few(<5) data points: 7 7
Chi2ContingencyResult: pvalue is  0.7497973653519259 (Not statistically different)

attribute
Removed number of features due to few(<5) data points: 8 8
Chi2ContingencyResult: pvalue is  1.0 (Not statistically different)

key
Removed number of features due to few(<5) data points: 8 8
Chi2ContingencyResult: pvalue is  1.0 (Not statistically different)

index
Removed number of features due to few(<5) data points: 8 8
Chi2ContingencyResult: pvalue is  1.0 (Not statistically different)

resource
Removed number of features due to few(<5) data points: 8 8
Chi2ContingencyResult: pvalue is  1.0 (Not statistically different)

environment
Removed number of features due to few(<5) data points: 8 8
Chi2ContingencyResult: pvalue is  1.0 (Not statistically different)

other
Removed number of features due to few(<5) data points: 8 8
Chi2ContingencyResult: pvalue is  1.0 (Not statistically different)

In [8]:
# # should we exclude the notebooks?

# # Summarize the statistics - df_mlerr_labels_sum vs. df_mlerr_labels_sum_excluded
# for label_key in df_mlerr_label_config_sum:
#     visualization_util.chisquare_test(cluster_res_g_sum_exed_weighted_sum[label_key], cluster_res_g_sum_weighted_sum[label_key], label_key+"-GitHub")
#     visualization_util.chisquare_test(cluster_res_k_sum_exed_weighted_sum[label_key], cluster_res_k_sum_weighted_sum[label_key], label_key+"-Kaggle")